
.receipt-container{
	background-image: url(./images/Intersection.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/* background-position-y: -220px; */
}

.container-2{
	background-image: url(./images/Web_Business_Loyalty.svg);
}